
body{
    font-family: 'Montserrat', sans-serif;
}


.imageAbout {
    object-fit: cover;
    object-position: 50% 15%;
    border-radius: 50%;
}
.container {
    align-items: baseline;
}

.profile {
    display: inline-block;
    width: min(80%, 300px);
    margin: 2% 5%;
    animation-name: fadeIn;
	animation-duration: 1.5s;
	animation-timing-function: ease;
}

.about, .about h1, .about p{
    width: min(90%, 700px);
    font-family: 'Montserrat', sans-serif;
    color: #363636;
    display: inline-block;
}

.about{
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.portfolio {
    max-width: 2000px;;
    margin: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
}

/* project gallery */
.l-wrap {
    max-width: 1440px;
    /* margin-right: auto;
    margin-left: auto; */
    animation-name: fadeIn;
	animation-duration: 1.5s;
	animation-timing-function: ease;
}
.grid-item {
    width: calc((100% - 18px * 3) / 3);
    margin-top: 18px;
    margin-left: 9px;
    margin-right: 9px;
    float: left;
}

.card {
    width: min(90%, 430px);
    height: 300px;
    display: flex;
    /* margin: 10px; */
    position: relative;
    cursor: pointer;
}
.card h1 {
    margin: 0 0 5px 0;
    color: white;
    font-size: 1.5rem;
}

.proj-type {
    color: white;
    opacity: 0.6;
}

.card p {
    margin: 0;
    font-size: 14px;
    color: white;
}

.card-overlay {
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    padding: 10% 6% 6% 6%;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    border-radius: 10px;
    color: white;
    background: rgba(34, 34, 34, 0.7);
}

.card-overlay:hover {
    opacity: 1;
}

.card-img {
    position: absolute;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}